<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>NEW CLIENT REGISTRATION</title>

    <!-- <script type="text/javascript" src="/job_portal/js/validate.js"></script> -->
    <!-- <script>
        function checkForm() {

            var email = document.getElementById("emailerror").innerHTML;
            var pass1 = document.getElementById("pass1error").innerHTML;
            var pass2 = document.getElementById("pass2error").innerHTML;
            var compname = document.getElementById("comperror").innerHTML;
            var addr = document.getElementById("addrerror").innerHTML;
            var pincode = document.getElementById("pinerror").innerHTML;
            var person = document.getElementById("personerror").innerHTML;
            var phone = document.getElementById("pherror").innerHTML;
            var about = document.getElementById("abouterror").innerHTML;

            var p1 = document.getElementById("pass1").value;
            var p2 = document.getElementById("pass2").value;
            if (p1 != p2) {
                document.getElementById("pass2error").innerHTML = "Password Donot Match";
            } else {
                document.getElementById("pass2error").innerHTML = "";

            }

            if (email == "" && pass1 == "" && pass2 == "" && compname == "" && addr == "" && pincode == "" && person ==
                "" && phone == "" && about == "") {


                return true;
            } else {

                alert("Fill in with correct information");
                return false;
            }

        }
    </script> -->
</head>

<body>

    <nav class="navbar" id="insidenav">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="/">Job Portal</a>
            </div>
            <ul class="nav navbar-nav">
                <li class="active"><a href="/register">Employer Registration</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="/login"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
            </ul>
        </div>
    </nav>

    <div class="container">
        <div class="jumbotron">
            <h1>Register your company</h1>
            <div id="insidejumb">
                <p>
                    Register today and post a job in easy steps and start receiving applications the same day.
                    Find the right candidates easily and quickly through our Search feature.
                </p>
            </div>
        </div>
        <form role="form" id="regcomp" class="form-horizontal" method="post" action="/emp">
            <h3 class="h3style"> Your Login details </h3>
            <div class="page-header"> </div>

            <div class="form-group">
                <label for="email" class="control-label col-sm-2">E-mail:</label>
                <div class="col-sm-4">
                    <input type="email" required placeholder="Enter your email" class="form-control" name="email"
                        id="email">
                </div>
                <% if(error !=null && field=="email" ) { %>
                    <h4 style="color: red;">
                        <%= error %>
                    </h4><br>
                    <% } %>
            </div>

            <div class="form-group">
                <label class="control-label col-sm-2" for="pass1">Password:</label>
                <div class="col-sm-4">
                    <input type="password" placeholder="Enter your password" name="pass1" id="pass1"
                        class="form-control" required>
                </div>
            </div>

            <div class="form-group">
                <label for="pass2" class="control-label col-sm-2"> Confrim Password: </label>
                <div class="col-sm-4">
                    <input type="password" placeholder="Confirm your password" name="pass2" id="pass2"
                        class="form-control" required>
                </div>
                <% if(error !=null && field=="password" ) { %>
                    <h4 style="color: red;">
                        <%= error %>
                    </h4><br>
                    <% } %>
            </div>

            <div class="page-header"></div>
            <h3 class="h3style"> Your Company Details</h3>
            <div class="page-header"></div>

            <div class="form-group">
                <label class="control-label col-sm-2"> Company Name:</label>
                <div class="col-sm-5">
                    <input type="text" class="form-control" name="compname" id="compname"
                        placeholder="Enter Company Name" required>
                </div>
            </div>


            <div class="form-group">
                <label class="control-label col-sm-2" for="comtype"> Company Type: </label>
                <div class="col-sm-4 form-inline" id="comtype">
                    <label class="radio-inline"><input type="radio" name="comtype" id="type1"
                            value="Company">Company</label>
                    <label class="radio-inline"><input type="radio" name="comtype" id="type2"
                            value="Consultant">Consultant</label>
                </div>
            </div>

            <div class="form-group">
                <label for="indtype" class="control-label col-sm-2">Industry:</label>
                <div class="col-sm-4">
                    <select name="indtype" id="indtype" class="form-control" required>
                        <option selected="selected" value="">- Select an Industry -</option>
                        <option value="Accessories/Apparel/Fashion Design">Accessories/Apparel/Fashion Design</option>
                        <option value="Accounting/Consulting/Taxation">Accounting/Consulting/Taxation</option>
                        <option value="Advertising/Event Management/PR">Advertising/Event Management/PR</option>
                        <option value="Agriculture/Dairy Technology">Agriculture/Dairy Technology</option>
                        <option value="Airlines/Hotel/Hospitality/Travel/Tourism/Restaurants">
                            Airlines/Hotel/Hospitality/Travel/Tourism/Restaurants</option>
                        <option value="Animation / Gaming">Animation / Gaming</option>
                        <option value="Architectural Services/ Interior Designing">Architectural Services/ Interior
                            Designing</option>
                        <option value="Auto Ancillary/Automobiles/Components">Auto Ancillary/Automobiles/Components
                        </option>
                    </select>
                </div>
            </div>

            <div class="form-group">
                <label for="addr" class="control-label col-sm-2">Address:</label>
                <div class="col-sm-5"><textarea id="addr" rows="5" name="addr" class="form-control" required
                        onblur="validate('address','addrerror',this.value)"></textarea>
                </div>
            </div>

            <div class="form-group">
                <label for="pincode" class="control-label col-sm-2">Pincode:</label>
                <div class="col-sm-4">
                    <input type="pincode" class="form-control" placeholder="Enter the pincode" name="pin_code"
                        id="pincode" required>
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-sm-2" for="person">Contact Person:</label>
                <div class="col-sm-4">
                    <input type="text" class="form-control" placeholder="Enter Executive Name" id="person" name="person"
                        required>
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-sm-2" for="phone">Contact Number:</label>
                <div class="col-sm-4">
                    <input type="text" class="form-control" placeholder="Enter Contact Number" id="phone" name="phone"
                        required>
                </div>
            </div>

            <!-- <div class="form-group">
                <label class="control-label col-sm-2"> Where are you currently located? </label>
                <div class="form-inline">
                    <select name="country" class=" form-control countries" id="countryId" style="width:145px;" required>
                        <option value="">Select Country</option>
                    </select>

                    <select name="state" class="form-control states" id="stateId" style="width:145px;" required>
                        <option value="">Select State</option>
                    </select>

                    <select name="city" class="form-control cities" id="cityId" style="width:145px;">
                        <option value="">Select City</option>
                    </select>
                </div>
            </div> -->
            <div class="form-group">
                <label class="control-label col-sm-2">About Company:</label>
                <div class="col-sm-5">
                    <textarea placeholder="Describe your company" name="about" class="form-control" rows="5"
                        required></textarea>
                </div>
            </div>
            <div class="page-header"> </div>
            <div class="form-group form-inline col-sm-10">
                <label for="reg" class="control-label col-sm-5">Check for errors before submitting the form!</label>
                <button class="btn btn-success" type="submit" id="reg">Register</button>
                <label for="reset" class="control-label"> </label>
                <button class="btn btn-danger" type="reset" id="reset"> Reset </button>
            </div>
        </form>
    </div>
    <div class="page-header"> </div>
    <link rel="stylesheet" href="/bootstrap/dist/css/bootstrap.min.css">
    <link href="/css/main.css" rel="stylesheet">
    <link href="/css/employer.css" rel="stylesheet">
    <script src="/js/jquery-1.12.0.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/location/location.js"></script>
</body>

</html>