<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Signin</title>
</head>
<nav class="navbar" id="insidenav">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="/">Job Portal</a>
        </div>
        <ul class="nav navbar-nav">
            <li class="active"><a href="/login">Login</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
            <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">
                    <span class="glyphicon glyphicon-user"></span> Sign Up <span class="caret"></span></a>
                <ul class="dropdown-menu">
                    <li><a href="/register_user">Jobseeker</a></li>
                    <li role="separator" class="divider"></li>
                    <li><a href="/register">Company</a></li>
                </ul>
            </li>
        </ul>
    </div>
</nav>
<body>
    <div class="container col-sm-5 pull-right">
        <form class="form-signin" action="/reset_pass" method="post">
            <h2 class="form-signin-heading">Enter New Password</h2>
            <label for="inputPassword1" class="sr-only">Password</label>
            <input type="password" id="inputPassword1" class="form-control" placeholder="New Password" required
                name="pass1">
            <label for="inputPassword2" class="sr-only">Password</label>
            <input type="password" id="inputPassword2" class="form-control" placeholder="Confirm Password" required
                name="pass2">
            <center>
                <a href="/login">Go to login</a>
            </center>
            <button class="btn btn-lg btn-primary btn-block" type="submit">Submit</button>
            <input type="hidden" name="email" value="<%= email %>">
            <input type="hidden" name="category" value="<%= category %>">
        </form>
        <% try { %>
            <center>
                <h3 style="color: red;">
                    <%= error %>
                </h3>
            </center>
            <% } catch(err) {} %>
    </div>
    <div class="col-sm-10">
        <br> <br>
        <br>
        <br>
        <br>
        <br>
        <br>
    </div>
    <div class="container col-sm-10 pull-right">
        <div class="row">
            <div class="askreg">
                <div class="col-lg-3">
                    <br>
                </div>
                <div class="col-lg-4 ">
                    <h2>Find Jobs</h2>
                    <p> Helps passive and active jobseekers find better jobs.
                        Get connected with over 45000 recruiters.
                        Apply to jobs in just one click.
                        Apply to thousands of jobs posted daily.
                    </p>
                    <p><a class="btn btn-default" href="/register_user">Register Today<span
                                class="glyphicon glyphicon-arrow-right"></span> </a></p>
                </div>
            </div>
            <div class="askreg">
                <div class="col-lg-4 ">
                    <h2>Looking for the right candidate?</h2>
                    <p> Post a job in easy steps and start receiving applications the same day.
                        Find the right candidates easily and quickly through our Search feature.
                    </p>
                    <p><a class="btn btn-default" href="/register">Register Your Company <span
                                class="glyphicon glyphicon-arrow-right"></span> </a></p>
                </div>
            </div>
        </div>
    </div>
</body>
<link rel="stylesheet" href="/bootstrap/dist/css/bootstrap.min.css">
<link href="/css/signin.css" rel="stylesheet">
<script src="/js/jquery-1.12.0.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
</html>